/*Environment*/

*{
  font-family: 'Roboto', Roboto, sans-serif;
   -moz-user-select:none;
  -ms-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none;
  -webkit-touch-callout: none; 
  -webkit-tap-highlight-color:transparent;
  -webkit-user-drag:none;
}

@keyframes ent{
  0%{opacity:0;}
  100%{opacity:1;}
} 
.ct{
  opacity:1;
  
} 
.bold{
  font-weight:550;
  color:#fff!important;
}
body{
  background:#eee;
  overflow-x:hidden!important;
}
::selection {
 background:var(--primary);
 color: white;
 text-shadow: 1px 1px #fff;
}
.drag-target{
  width:30px!important;
  z-index:996;
}
#mainLoader{
  opacity:0;
  position:fixed;
  z-index:12;
  top:0;
  margin:0;
  background:transparent;
  height:2px;
  transition:opacity 0.2s ease-out;
}
#mainLoader .indeterminate{
  background:#fff;
} 
.action{
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:10;
}
.action .btn-floating{
  background:var(--secondary);
}
.action ul .btn-floating{
  background:#fff;
}
.action ul .btn-floating i{
  color:var(--secondary) ;
  font-size:1.5em;
} 
.action i{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   font-size:2em;
   color:#fff;
} 
/*Search bar*/
.search{
	position:relative;
	z-index:2;
} 
#searchShadow{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:10;
  background:rgba(0,0,0,.5);
  display:none;
  opacity:0;
  transition:all 0.3s ease;
} 
 /* Firefox */
 ::-moz-selection {
 background: var(--primary) ;
 color: white;
 text-shadow: 1px 1px #fff;
}


/* Mail Box */
#mailBox{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  height:100vh;
  z-index:12;
  display:none;
  opacity:0;
  transition:opacity 0.3s ease;
}
#mailBox .boxed{
  position:absolute;
  left:5%;
  top:45.3%;
  transform:translateY(-50%);
  width:90%;
  padding:15px 25px 3px 25px;
  line-height:16px;
  border-radius:5px;
  background:#fff;
  box-shadow:0 0 10px rgba(0,0,0,.3);
  z-index:2;
}
#mailBox .sendBtn{
  position:absolute;
  bottom:-27px;
  right:-10px;
  padding:20px;
  padding-bottom:17px;
  border-radius:500px;
  color:#fff;
  background:var(--primary);
  box-shadow:0 0 10px rgba(0,0,0,.2);
}
#mailBox .sendBtn i{
  font-size:1.5em;
} 
#mailBox #shadowS{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:-1;
  background:rgba(0,0,0,.4);
} 
#mailBox h5{
  position:relative;
  color:#fff;
  background:#888;
  display:inline-block;
  padding:7px 25px 15px 25px;
  font-size:1.2em;
  border-radius:5px;
  box-shadow:0 0 10px rgba(0,0,0,.2);
  left:50%;
  transform:translateX(-50%);
  margin-bottom:15px;
}
#mailBox h5 i{
  position:relative;
  top:6px;
}
@keyframes error{
  0%{margin-left:0px;margin-right:0;}
  25%{margin-right:-5px;margin-left:0;}
  50%{margin-right:0px;margin-left:-5px;}
  75%{margin-right:-5px;margin-left:0;}
  100%{margin-right:0px;margin-left:0px;}
}
#textarea1{
   height :42px;
} 
#emailS{
  margin-bottom:25px;
}
#emailS input:focus + label{
  color:var(--primary);
}
#emailS input:focus{
  border-bottom:2px solid var(--primary);
  box-shadow: 0 1px 0 0 var(--primary);
}
#emailS input:focus + label + #validS{
  animation:error 0.3s linear 2;
} 
#msgS{
  margin-bottom:25px;
}
#msgS textarea:focus + label{
  color:var(--primary);
}
#msgS textarea:focus{
  border-bottom:2px solid var(--primary);
  box-shadow: 0 1px 0 0 var(--primary);
}
/*Navigation*/
nav{
  position:fixed;
  top:0;
  z-index:11;
} 
nav .nav-wrapper{
  background:linear-gradient(to right, var(--primary), var(--secondary));
}
nav .nav-wrapper .brand-logo {
  width:200px;
} 
nav .nav-wrapper .brand-logo img{
  width:30px;
  position:relative;
  top:6px;
} 
nav .nav-wrapper .brand-logo span{
  position:relative;
  font-size:0.7em;
  top:-3px;
}
nav .nav-wrapper .search #search{
  width:100%;
  box-sizing:border-box;
  padding-right:56px;
} 
.sidenav #accountSection{
  display:none;
}
.sidenav .user-view .circle{
   width:61px;
} 
.nav-icon {  
  width: 50px;
  position:fixed;
  top:2px;
  right:2px;
  padding:15px;
  z-index:1000;
}
.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color:rgba(255,255,255,1);
  content: '';
  display: block;
  height: 3px;
  border-radius:3px;
  margin: 3px 0;
  transition: all .2s ease-in-out;
}
.sicon:before {
  background-color:#fff;
  transform: translateY(6px) rotate(135deg);
}
.sicon:after {
  background-color:#fff;
  transform: translateY(-6px) rotate(-135deg);
}
.sicon > div {
  background-color:#fff;
  transform: scale(0);
}

@keyframes entry{
  0%{transform:scale(0,0);}
  25%{transform:scale(1.2,1.2);}
  50%{transform:scale(0.8,0.8);}
  100%{transform:scale(1,1);}
} 

/* Global Cards */
main{
  margin-top: 50px;
  overflow:hidden;
 padding:0px 10px 7px 10px;
}

.ct .banner{
  background:white;
  width:calc(100% + 34px);
  position:relative;
  left:-17px;
  padding:20px 28px;
  margin-bottom:13px;
  border-bottom:2px solid var(--primary);
  box-shadow:0 0 10px rgba(0,0,0,.2);
}
.ct .banner p{
  margin:0;
}
.ct .banner p a{
  color:var(--primary);
} 
.ct .banner h5 i{
  position:relative;
  top:3px;
}
.card{
 border-radius:5px;
 overflow:hidden; 
}

.ct .lblShow{
  position:relative;
  background:var(--primary);
  width:94.4%;
  left:2.8%;
  display:block;
  border-radius:5px;
  margin-bottom:15px;
  padding:13px 20px 12px 20px;
  cursor:pointer;
}
.ct .lblShow span{
  color:#fff;
  font-size:1.25em;
  font-weight:500;
  text-transform:uppercase;
}
.ct .lblShow i{
  color:#fff;
  margin-top:-2px;
  transition:transform 0.3s ease;
  float:right;
}
.ct .lblShow span:nth-child(3){
  font-size:0;
}
.ct .lblShow span:nth-child(2){
  font-size:1.25em;
} 
.ct #rights{
   position:relative;
   left:2.8%;
   width:94.4%;
   padding:10px 20px;
   line-height:16px;
   margin-bottom:13px;
   display:block;
   border-radius:5px;
   background:#bbb;
   color:#fff;
} 
.ct .clp{
  height:0px;
  opacity:0;
  overflow:hidden;
  transition:opacity 0.4s ease;
}
 
.ct #showContent:checked + .lblShow + .clp{
  height:100%;
  opacity:1;
}
.ct #showContent:checked + .lblShow span:nth-child(3){
  font-size:1.25em;
}
.ct #showContent:checked + .lblShow span:nth-child(2){
  font-size:0em;
}
.ct #showContent:checked + .lblShow i{
  transform:rotate(-180deg);
}

/*News feed*/
.feed {
  margin-bottom:5px;
}
.feed .card-content{
  position:relative;
  width:100%;
  margin:0;
  z-index:3;
  background:#fff;
}
.feed .card-content span{
  font-weight:500;
  font-size:1.4em;
  text-transform:uppercase;
  font-weight:500;
}
.feed .card-content .card-title {
  margin:0;
  line-height:20px;
} 
.feed .card-content p{
 text-transform:lowercase;
 line-height:19px;
 overflow-wrap: break-word;
 font-size:1.37em;
 font-weight:350;
 color:#777;
}
.feed .card-content a{
  color:var(--primary);
} 
.feed .card-content p:first-letter{
 text-transform:uppercase;
} 
.feed .card-action{
  width:100%;
  margin:0;
  display:flex;
  justify-content:space-between;
  padding:0;
  position:relative;
  z-index:2;
} 
.feed .card-action a i{
  position:relative;
  top:07px;
}
.feed .card-action a{ 
  color:var(--primary)!important;
  font-size:0.95em;
  padding:10px 25px 15px 25px;
  margin:0!important;
}
.feed .card-action a .waves-ripple {
  background-color:var(--primary);
}        
.feed .card-content .shareBtns{
 z-index:9;
 margin-right:-5px;
 height:45px;
 width:45px;
 padding-top:3px;
 position:absolute;
 right:25px;
 top:-20px;
}
.feed .card-content .shareBtns .waves-ripple{
  background-color:var(--secondary);
} 
.feed .card-content .shareBtns i{
  color:var(--secondary);
  font-size:1.5em;
}
.feed .card-image{
  height:150px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#materialbox-overlay{
  position:fixed;
  z-index:1000;
  width:100%;
  height:100vh;
  top:0;
  left:0;
}
#loadText{
 text-transform:uppercase;
 color:#fff;
 font-size:1.2em;
}
#ldContainer{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0,0);
  z-index:1002;
  opacity:0;
  transition:opacity 0.3s ease;
} 
.ct .progress{
  background:transparent;
  width:100px;
}
.ct .progress div{
  background:#fff;
} 
/* "!IMPORTANT" TO BREAK JAVASCRIPT */
.feed .card-image .materialboxed{
  width:100%;
  position:relative;
  z-index:1;
  height:auto!important;
  opacity:0;
}
.feed .card-image .active{
  position:fixed!important;
  top:50%!important;
  left:50%!important; 
  transform:translate(-50%, -50%)!important;
  z-index:1003!important;
}
.materialbox-caption{
  z-index:1000;
} 